# Problem Set 6

See {doc}`Merge <../pandas/merge>`, {doc}`Reshape <../pandas/reshape>`, and {doc}`GroupBy <../pandas/groupby>`

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import qeds

%matplotlib inline
# activate plot theme
import qeds
qeds.themes.mpl_style();

## Questions 1-7

Lets start with a relatively straightforward exercise before we get to the really fun stuff.

The following code loads a cleaned piece of census data from Statistics Canada.

In [2]:
df = pd.read_csv("https://datascience.quantecon.org/assets/data/canada_census.csv", header=0, index_col=False)
df.head()

,CDcode,Pname,Population,CollegeEducated,PercentOwnHouse,Income
0,1001,Newfoundland and Labrador,270350,24.8,74.1,74676
1,1002,Newfoundland and Labrador,20370,7.5,86.3,60912
2,1003,Newfoundland and Labrador,15560,7.3,86.0,56224
3,1004,Newfoundland and Labrador,20385,10.9,73.7,44282
4,1005,Newfoundland and Labrador,42015,17.0,73.9,62565

A *census division* is a geographical area, smaller than a Canadian province, that is used to
organize information at a slightly more granular level than by province or by city. The census
divisions are shown below.

```{figure} ../_static/canada_censusdivisions_map.png
:alt: canada_censusdivision_map.png
```

The data above contains information on the population, percent of population with a college
degree, percent of population who own their house/apartment, and the median after-tax income at the
*census division* level.

Hint: The `groupby` is the key here.  You will need to practice different split, apply, and combine options.

### Question 1

Assume that you have a separate data source with province codes and names.

In [3]:
df_provincecodes = pd.DataFrame({
    "Pname" : [ 'Newfoundland and Labrador', 'Prince Edward Island', 'Nova Scotia',
                'New Brunswick', 'Quebec', 'Ontario', 'Manitoba', 'Saskatchewan',
                'Alberta', 'British Columbia', 'Yukon', 'Northwest Territories','Nunavut'],
    "Code" : ['NL', 'PE', 'NS', 'NB', 'QC', 'ON', 'MB', 'SK', 'AB', 'BC', 'YT', 'NT', 'NU']
            })
df_provincecodes

                        Pname Code
0   Newfoundland and Labrador   NL
1        Prince Edward Island   PE
2                 Nova Scotia   NS
3               New Brunswick   NB
4                      Quebec   QC
5                     Ontario   ON
6                    Manitoba   MB
7                Saskatchewan   SK
8                     Alberta   AB
9            British Columbia   BC
10                      Yukon   YT
11      Northwest Territories   NT
12                    Nunavut   NU

With this,

1. Either merge or join these province codes into the census dataframe to provide province codes for each province
   name. Hint: You need to figure out which "key" matches in the merge, and don't be afraid to rename columns for convenience.
1. Drop the province names from the resulting dataframe.
1. Rename the column with the province codes to "Province".  Hint: `.rename(columns = <YOURDICTIONARY>)`

In [4]:
# Your code here

For this particular example, you could have renamed the column using `replace`. This is a good check.

In [5]:
(pd.read_csv("https://datascience.quantecon.org/assets/data/canada_census.csv", header=0, index_col=False)
.replace({
    "Alberta": "AB", "British Columbia": "BC", "Manitoba": "MB", "New Brunswick": "NB",
    "Newfoundland and Labrador": "NL", "Northwest Territories": "NT", "Nova Scotia": "NS",
    "Nunavut": "NU", "Ontario": "ON", "Prince Edward Island": "PE", "Quebec": "QC",
    "Saskatchewan": "SK", "Yukon": "YT"})
.rename(columns={"Pname" : "Province"})
.head()
)

   CDcode Province  Population  CollegeEducated  PercentOwnHouse  Income
0    1001       NL      270350             24.8             74.1   74676
1    1002       NL       20370              7.5             86.3   60912
2    1003       NL       15560              7.3             86.0   56224
3    1004       NL       20385             10.9             73.7   44282
4    1005       NL       42015             17.0             73.9   62565

### Question 2

Which province has the highest population? Which has the lowest?

In [6]:
# Your code here

### Question 3

Show a bar plot and a pie plot of the province populations.  Hint: After the split-apply-combine, you can use `.plot.bar()` or `.plot.pie()`.

In [7]:
# Your code here

### Question 3

Which province has the highest percent of individuals with a college education? Which has the
lowest?

Hint: Remember to weight this calculation by population!

In [8]:
# Your code here

### Question 4

What is the census division with the highest median income in each province?

In [9]:
# Your code here

### Question 5

By province, what is the total population of census areas where more than 80 percent of the population own houses ?

In [10]:
# Your code here

### Question 6

By province, what is the median income and average proportion of college-educated individuals in census areas
where more than 80 percent of the population own houses?

In [11]:
# Your code here

### Question 7

Classify the census areas as low, medium, and highly-educated by using the college-educated proportions,
where "low" indicates that less than 10 percent of the area is college-educated, "medium" indicates between 10 and 20 percent is college-educated, and "high" indicates more than 20 percent.

Based on that classification, find the average income. Weight this average income by population for each of the low, medium, high education groups.

In [12]:
# Your code here

## Questions 8

The `qeds` library includes routines to simulate datasets in the
format of common sources.

One of these sources is [Shopify](https://www.shopify.com/) -- an
ecommerce platform used by many retail companies.

The code below will simulate a fairly large dataset that has the
properties of a Shopify order-detail report.

We'll look at the data before describing the exercise.

In [13]:
np.random.seed(42)
url = "https://datascience.quantecon.org/assets/data/shopify_orders.csv.zip"
orders = pd.read_csv(url)
orders.info()

orders.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715449 entries, 0 to 715448
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         715449 non-null  int64
 1   Day                715449 non-null  object
 2   customer_type      715449 non-null  object
 3   Customer ID        715449 non-null  int64
 4   orders             715449 non-null  int64
 5   total_sales        715449 non-null  float64
 6   Returns            715449 non-null  float64
 7   Ordered quantity   715449 non-null  int64
 8   Gross sales        715449 non-null  float64
 9   Net sales          715449 non-null  float64
 10  Shipping           715449 non-null  float64
 11  Tax                715449 non-null  float64
 12  Net quantity       715449 non-null  int64
 13  Returned quantity  715449 non-null  int64
 14  Discounts          715449 non-null  float64
dtypes: float64(7), int64(6), object(2)
memory usage: 81.9+ MB

,Unnamed: 0,Day,customer_type,Customer ID,orders,total_sales,Returns,Ordered quantity,Gross sales,Net sales,Shipping,Tax,Net quantity,Returned quantity,Discounts
0,0,2019-06-17,Returning,6535260,1,41.03,-0.0,1,41.03,41.03,0.00,0.0,1,0,-0.0
1,1,2015-01-31,First-time,4283889,1,37.96,-0.0,2,37.96,37.96,0.00,0.0,2,0,-0.0
2,2,2017-09-14,Returning,5270434,1,-25.40,-30.5,0,0.00,-30.50,5.09,0.0,2,2,-0.0
3,3,2017-10-29,Returning,4836086,1,12.70,-0.0,4,12.70,12.70,0.00,0.0,4,0,-0.0
4,4,2016-10-01,Returning,9541330,1,216.58,-0.0,3,208.59,208.59,7.99,0.0,3,0,-0.0

We define a customer's cohort as the month in which a customer placed
their first order and the customer type as an indicator of whether this
was their first order or a returning order.

Here's what we want you to do:

**Want**: Compute each month's total orders, sales, and
quantities, separated by customer cohort and customer type.

Read that carefully one more time...

This exercise is a challenging one.

Using the `reshape` and `groupby` tools you have learned, apply the want
operator described above.

In [14]:
# Your code here

See below for advice on how to proceed.

When you are finished, you should have something that looks like this:

```{figure} ../_static/groupby_cohort_analysis_exercise_output.png
:alt: groupby\_cohort\_analysis\_exercise\_output.png
```

Two notes on the table above:

The numbers you produce should actually be identical to those
: included in this table... Index into your answer and compare your answers
  with this table to verify your progress.

1. Your actual output will be much bigger -- this just shows you what it might look like.

Now, how to do it?

There is more than one way to code this, but here are some suggested
steps:

1. Convert the `Day` column to have a `datetime` `dtype` instead
   of object (Hint: use the `pd.to_datetime` function).
1. Add a new column that specifies the date associated with each
   customer's `"First-time"` order.
    - Hint 1: You can do this with a combination of `groupby` and
      `join`.
    - Hint 2: `customer_type` is always either `Returning` or
      `First-time`.
    - Hint 3: Some customers don't have a
      `customer_type == "First-time"` entry. For these customers, you need to set their
      values to some date that precedes the
      sample's dates. After adding valid data back into `orders` DataFrame,
      you can identify the customers who don't have a `"First-Time"`
      entry by checking the new column for missing data.
1. You need to group by three things.
1. You can apply one of the built-in aggregation functions to the GroupBy.
1. After the aggregation, you need to use your reshaping skills to
   move things to the proper rows and columns.

Good luck!

## Questions 9-10

Let's look at another example.

This time, we will use a dataset from the [Bureau of Transportation
Statistics](https://www.transtats.bts.gov/OT_Delay/OT_DelayCause1.asp)
that describes the cause for all US domestic flight delays in November 2016:

Loading this dataset the first time will take a minute or two because it is quite hefty... We recommend taking a break to view this [xkcd comic](https://xkcd.com/303/).

In [15]:
url = "https://datascience.quantecon.org/assets/data/airline_performance_dec16.csv.zip"
air_perf = pd.read_csv(url)[["CRSDepTime", "Carrier", "CarrierDelay", "ArrDelay"]]
air_perf.info()
air_perf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460949 entries, 0 to 460948
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   CRSDepTime    460949 non-null  object
 1   Carrier       460949 non-null  object
 2   CarrierDelay  460949 non-null  float64
 3   ArrDelay      452229 non-null  float64
dtypes: float64(2), object(2)
memory usage: 14.1+ MB

            CRSDepTime Carrier  CarrierDelay  ArrDelay
0  2016-12-18 15:58:00      AA           0.0      20.0
1  2016-12-19 15:58:00      AA           0.0      20.0
2  2016-12-20 15:58:00      AA           0.0      -3.0
3  2016-12-21 15:58:00      AA           0.0     -10.0
4  2016-12-22 15:58:00      AA           0.0      -8.0

The `Carrier` column identifies the airline while the `CarrierDelay`
reports the total delay, in minutes, that was the "carrier's fault".

### Question 9

Determine the 10 airlines which, on average, contribute most to delays.

In [16]:
# Your code here
# avg_delays =

### Question 10

One issue with this dataset is that we might not know what all those two letter carrier codes are!

Thankfully, we have a second dataset that maps two-letter codes
to full airline names:

In [17]:
url = "https://datascience.quantecon.org/assets/data/airline_carrier_codes.csv.zip"
carrier_code = pd.read_csv(url)
carrier_code.tail()

     Code                            Description
1884   ZW  Air Wisconsin Airlines Corp (1994 - )
1885   ZX               Airbc Ltd. (1990 - 2000)
1886   ZX                 Air Georgian (2002 - )
1887   ZY   Atlantic Gulf Airlines (1985 - 1986)
1888  ZYZ     Skyway Aviation Inc. (1960 - 2002)

In this question, you should merge the carrier codes and the previously computed dataframe from Question 9 (the 10 airlines that contribute most to delays).

In [18]:
# Your code here
# avg_delays_w_name

## Question 11

In this question, we will load data from the World Bank. World Bank data is often stored in formats containing vestigial columns because of their data format standardization.

This particular data contains the world's age dependency ratios (old) across countries. The ratio is the number of people who are
above 65 divided by the number of people between 16 and 65 and measures how many working
individuals exist relative to the number of dependent (retired) individuals.

In [19]:
adr = pd.read_csv("https://datascience.quantecon.org/assets/data/WorldBank_AgeDependencyRatio.csv")
adr.head()

,Series Name,Series Code,Country Name,Country Code,1960,1970,1980,1990,2000,2010,2017
0,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,Belgium,BEL,18.376221914997,21.3310651174022,22.0827795865161,22.3478876919412,25.7237772053865,26.3502220937405,28.8663095376732
1,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,High income,HIC,13.7442735255142,15.5128071607608,17.2793259853973,18.1810594950547,20.238646358909,22.5821690792651,26.5545126329423
2,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,Andorra,AND,..,..,..,..,..,..,..
3,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,Austria,AUT,18.5196085788113,22.7370767160537,23.6381357233154,21.8956152694877,22.7046805297879,26.373860988558,28.7849528312483
4,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,Bermuda,BMU,..,..,..,..,..,..,..

This data only has a single variable, so you can eliminate the `Series Name` and `Series Code`
columns. You can also eliminate the `Country Code` or  `Country Name` column (but not both),
since they contain repetitive information.

We can organize this data in a couple of ways.

The first (and the one we'd usually choose) is to place the years and country names on the index and
have a single column. (If we had more variables, each variable could have its own column.)

Another reasonable organization is to have one country per column and place the years on the index.

Your goal is to reshape the data both ways. Which is easier? Which do you
think a better organization method?

In [20]:
# Reshape to have years and countries on index

In [21]:
# Reshape to have years on index and country identifiers as columns